body {
  font-family: "Roboto", sans-serif;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}
/*
ABOUT box-sizing: border-box;
Web browsers calculate the true "width" of a column by adding up the column
widths and adding on any padding and borders. So the 65px above (x2, or 130px),
will exceed the 100% (33% + 66%) calculated, in _row.css.
The "box-sizing: border-box;" attribute, above will tell the browser to honor
our declared width values and still use the padding.
In fact, many developers now apply this globally, as a standard, on ALL pages, just
because it DOES seem to make more sense. This is why it's included, here.
*/
a {
  color: $mainOrange;
}
